<?xml version='1.0' encoding='utf-8'?>
<config>
	<remoteaddr>192.168.3.1</remoteaddr>
	<networkmask>255.255.255.0</networkmask>
	
	<network>
		<socket type="IPv4" protocol="UDP" address="0.0.0.0" port="44444" />
		<!--<ipv6 protocol="UDP" address="::" port="44444" />-->
	</network>
	
	<users validtime="100000000">
		<normal name="test" password="DWOPR">
			<lastlogin>0</lastlogin>
			<sendbytes>0</sendbytes>
		</normal>
		<vip name="vip_y">
			<address></address>
		</vip>
	</users>
</config>
